.ca {
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    height: 574px;
    width: 1000px;
    /* background-color: lightgray;  */
}

/*.background { 
    background-image: url("./backgroundlogin.jpg");
}*/

.hehe {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}